<section>
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Create account</button>
  <hr>
</section>
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="profileForm">
      <div class="form-group">
        <label for="name">Name</label>
        <div class="input-group">
          <input id="name" class="form-control" placeholder="" formControlName="name">
        </div>
        <div class="alert alert-danger"
             *ngIf="profileForm.controls['name'].invalid && profileForm.controls['name'].touched">
          Invalid value
        </div>
      </div>
      <div class="form-group">
        <label for="account">Account</label>
        <div class="input-group">
          <input id="account" class="form-control" placeholder="" formControlName="account">
        </div>
        <div class="alert alert-danger"
             *ngIf="profileForm.controls['account'].invalid && profileForm.controls['account'].touched">
          Invalid value
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <div class="input-group form-group">
          <input type="email" formControlName="email" id="email" name="email" class="form-control" placeholder="">
        </div>
        <div class="alert alert-danger"
             *ngIf="profileForm.controls['email'].invalid && profileForm.controls['email'].touched">
          Invalid value
        </div>
      </div>
      <div class="input-group">
        <div>
          <label for="exampleSelect">Example select</label>
          <input type="text" list="exampleSelect" class="form-control" formControlName="exampleSelect"/>
          <datalist id="exampleSelect">
            <option>Active</option>
            <option>Disable</option>
            <option>Pending</option>
          </datalist>
        </div>
      </div>
      <div class="form-group">
        <label for="startDate">Start date</label>
        <div class="input-group">
          <input id="startDate" formControlName="startDate" class="form-control" placeholder="yyyy-mm-dd" name="dp"
                 ngbDatepicker
                 #dp="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="expDate">Expiration date</label>
        <div class="input-group">
          <input id="expDate" formControlName="expirationDate" class="form-control" placeholder="yyyy-mm-dd" name="dp1"
                 ngbDatepicker
                 #dp1="ngbDatepicker">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary calendar" (click)="dp1.toggle()" type="button"></button>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-dark" (click)="modal.close('Save click')">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="addNewAccount()" [disabled]="profileForm.invalid">Save
    </button>
  </div>
</ng-template>

<pre>{{ closeResult }}</pre>
