<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li ngbNavItem>
    <a ngbNavLink>Accounts Angular</a>
    <ng-template ngbNavContent>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Account name</th>
          <th scope="col">E-mail</th>
          <th scope="col">Status</th>
          <th scope="col">Start date</th>
          <th scope="col">Expiration date</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let item of accountService.accountList">
          <td>{{item.name}}</td>
          <td>{{item.account_name}}</td>
          <td>{{item.email}}</td>
          <td>
            {{item.status}}
          </td>
          <td>
            {{item.start_date |  date:'mediumDate'}}
          </td>
          <td>
            {{item.expiration_date |  date:'mediumDate'}}
          </td>
        </tr>
        </tbody>
      </table>
    </ng-template>
  </li>
  <li ngbNavItem>
    <a ngbNavLink>Accounts AngularJs</a>
    <ng-template ngbNavContent></ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav"></div>





